
.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  //width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}


.bullet-list ul {
  padding-left: 17px;
  margin: 0px;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 17px;
}

.content > mat-card {
  margin-bottom: 17px;
}


.img {
  width: 60%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 80%;
  width: 80%;
}

.example-card {
  max-width: 80%;
  margin-bottom: 17px;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card::ng-deep.mat-card-header-text {
  width: 80%;
}
