<h3>Welcome </h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
   <mat-step>
    <ng-template matStepLabel >Pray</ng-template>
    <h4>Greetings in the Name of our Precious Lord, Jesus Christ!.</h4>

    <p>For all the promises of God in Him are yea, and in Him Amen, unto the glory of God by us. - <strong>2 Cor. 1:20</strong></p>
    <p>Please take a moment and pray to continue,</p>
    <ul>
		  <li>Pray for a promise from the scriptures.</li>
      <li>Pray that the Lord would help you to trust His Word.</li>
		  <li>Pray that the Lord would help you to apply His Word in your life.</li>
	  </ul>
    <p>Taste and see that the LORD is good, blessed is the one who takes refuge in Him. - <strong>Psalms 34:8</strong></p>
 <br/>
 <br/>

    <button mat-raised-button
        [color]="themeColor === 'primary' ? 'primary' : 'no-color'"
              (click) = "resetFormAndProceed()">Next</button>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>About You</ng-template>
      <li class="mat-form-field--inline">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName" required>
        </mat-form-field>
      </li>
      <br/>

       <li class="mat-form-field--inline">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"
          placeholder="Ex. mail@gmail.com"/>
          <!--
          <input type="email" matInput formControlName="email"
          placeholder="Ex. mail@gmail.com" required/>
          <mat-error *ngIf="
          firstFormGroup.get('email').hasError('email')
          &&!firstFormGroup.get('email').hasError('required')">
          Please enter a valid email address
          </mat-error>
          <mat-error
          *ngIf="firstFormGroup.get('email').hasError('required')">
          Email is <strong>required</strong>
          </mat-error>
          -->
          <br/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Language</mat-label>
          <mat-select [(value)]="selectedLanguage">
            <mat-option></mat-option>
            <mat-option [value]="option.value" *ngFor="let option of languages">{{ option.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!--
        <mat-checkbox matInput  formControlName="includeFamily">Include Family / Friends</mat-checkbox>
        -->
      </li>

        <div>
         <button mat-raised-button [color]="themeColor === 'primary' ? 'primary' : 'no-color'" (click)="addMainUserToPromiseVerseList()">Next</button>
       </div>
    </form>
  </mat-step>
<br/>

<mat-step [optional]="isOptional">
    <ng-template matStepLabel>Friends and Family <br/> (Optional)</ng-template>
    <!--
    <form [formGroup]="secondFormGroup">

    </form>
    -->
        <button mat-raised-button (click)="show()"> <mat-icon color="accent">add</mat-icon> Add User </button>
        <div >
            <table mat-table [dataSource]="dataSourceAddUser" >
                  <!-- Name Column -->
                  <ng-container matColumnDef="FirstName">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field floatLabel="never">
                              <input [value]="element.firstName" [(ngModel)]="element.firstName" matInput placeholder="Enter your name" [formControl]="firstNameFormControl" required>
                              <mat-error *ngIf="firstNameFormControl.invalid">{{getFirstNameErrorMessage()}}</mat-error>
                          </mat-form-field>
                      </td>
                  </ng-container>
                  <!-- Surname Column -->
                  <ng-container matColumnDef="LastName" fxFlex="40px">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let element">
                          <mat-form-field floatLabel="never">
                              <input matInput placeholder="LastName" [value]="element.lastName" [(ngModel)]="element.lastName" required [formControl]="lastNameFormControl">
                              <mat-error *ngIf="lastNameFormControl.invalid">{{getLastNameErrorMessage()}}</mat-error>
                          </mat-form-field>
                      </td>
                  </ng-container>
                  <!-- Save Column -->
                  <ng-container matColumnDef="Save">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let element">
                          <button mat-raised-button (click)="saveUser(element)"  [disabled]="firstNameFormControl.invalid  || lastNameFormControl.invalid"> <mat-icon color="accent">save</mat-icon>
                              Save </button>
                      </td>
                  </ng-container>
                  <!-- Cancel Column -->
                  <ng-container matColumnDef="Cancel">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let element">
                          <button mat-raised-button (click)="cancel()"> <mat-icon color="accent">cancel</mat-icon> Cancel </button>
                      </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsAddUser"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAddUser;"></tr>
            </table>
        </div>
        <!--  [formGroup]="firstFormGroup.friendsAndFamily" formControlName="" -->
        <div>
         <mat-label>Friends and Family</mat-label>
          <table mat-table [dataSource]="dataSourceUsers" matSort >
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="FirstName" fxFlex="40px">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                  <td mat-cell *matCellDef="let element">
                      <mat-form-field floatLabel="never">
                          <input matInput
                              placeholder="First Name"
                                [value]="element.firstName"
                                   [(ngModel)]="element.firstName" required>
                      </mat-form-field>
                  </td>
              </ng-container>
              <ng-container matColumnDef="LastName" fxFlex="40px">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                  <td mat-cell *matCellDef="let element">
                      <mat-form-field floatLabel="never">
                          <input matInput placeholder="Last Name"
                            [value]="element.lastName"
                                [(ngModel)]="element.lastName" required>
                      </mat-form-field>
                  </td>
              </ng-container>

              <ng-container matColumnDef="Change">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                      <button mat-raised-button (click)="editUser(element)"  > <mat-icon color="accent">edit</mat-icon> Update </button>
                  </td>
              </ng-container>
              <ng-container matColumnDef="Delete">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element">
                      <button mat-raised-button (click)="openDialog(element)"> <mat-icon color="accent">delete</mat-icon> Delete</button>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <div>
         <button mat-raised-button [color]="themeColor === 'primary' ? 'primary' : 'no-color'" (click)="revealPromiseVerse()">Next</button>
       </div>
</mat-step>

<br/>
  <mat-step>
    <ng-template matStepLabel>Promise Verse</ng-template>

      <div *ngFor="let user of users; let i=index">
        <mat-card class="example-card mat-elevation-z5">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.firstName}},{{user.lastName}}</mat-card-title>
            <mat-card-subtitle>2021</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{user.imgSrc}}" alt="{{user.firstName}},{{user.lastName}}'s 2021 Year Promise">
          <mat-card-content>
             <h4> {{user.promiseVerse}}</h4>
          </mat-card-content>
          <!--
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
          -->
        </mat-card>
        <br/>
      </div>

      <div>
        <button mat-raised-button [color]="themeColor === 'primary' ? 'primary' : 'no-color'" (click)="resetForm()">Next</button>
      </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Thank Lord</ng-template>
    <h4>Praise the Lord.</h4>
    <br/>
    <p>“Having therefore, these promises, dearly beloved, let us cleanse ourselves from all filthiness of the flesh and spirit, perfecting holiness in the fear of God”. - <strong>2 Corinthians 7:1</strong></p>
    <p>Please take a moment to thank the Lord</p>
     <ul>
		  <li>Pray for a promise from the scriptures.</li>
      <li>Pray that the Lord would help you to trust His Word.</li>
		  <li>Pray that the Lord would help you to apply His Word in your life.</li>
	  </ul>

    <button mat-raised-button [color]="themeColor === 'primary' ? 'primary' : 'no-color'" (click)="stepper.reset()">Reset</button>

  </mat-step>
</mat-horizontal-stepper>
