
.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  //width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}


.bullet-list ul {
  padding-left: 17px;
  margin: 0px;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 17px;
}

.previous{
  float: left
}

.next{
float: right
}

.imagecard {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verse{
    //font-family: ABeeZee, sans-serif;
    font-size: 15px;
    font-weight: 50;
    color: rgb(95, 144, 218);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 2em;
    letter-spacing: 0px;
}

.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}
/**
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
**/

table {
  width: 80%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-unstyled-image img{
  max-width: 50%;
  width: auto;
  height: auto !important; /* needs to be important because md-card also sets it that way */
}

.example-card {
  max-width: 500px;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

